<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Card</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>REGISTER</h2>
        <div class="underline-title"></div>
      </div>
      <form [formGroup]="registerForm" class="form">
        <label for="user-email" style="padding-top:13px">
            &nbsp;Username
          </label>
        <input id="user-email" 
               class="form-content" 
               formControlName="username"
               autocomplete="on" 
               required />
        <div class="form-border"></div>
        <label for="user-password" style="padding-top:22px">&nbsp;Password
          </label>
        <input id="user-password" 
               type="password"
               class="form-content" 
               formControlName="password" 
               required />
        <div class="form-border"></div>
        <button id="submit-btn" type="submit" name="submit" value="REGISTER" (click)="attemptRegister()" >Register</button>
        <a id="signup" routerLink="/login" routerLinkActive="active">Have an account already?</a>
      </form>
    </div>
  </div>
</body>

</html>
<!-- 
<div
  class="authentication-card-container"
  fxLayout="column"
  fxLayoutAlign="center">
  <mat-card class="authentication-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title></mat-card-header>
    <mat-card-content>
      <form
        [formGroup]="registerForm"
        fxLayout="column"
        fxLayoutAlign="center stretch">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input matInput type = "username" formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="attemptRegister()">
        Register
      </button>
      <button mat-button routerLink="/login" routerLinkActive="active">
        Already have an account? Login here.
      </button>
    </mat-card-actions>
  </mat-card>
</div> -->