<body>
  <br>
  <h2>Fund Basket</h2>
  <ul class="needs">
      <li *ngFor="let need of needs">
        <!-- <a routerLink="/detail/{{need.id}}"> -->
          <span class="badge">{{need.id}}</span> {{need.name}} Amount: {{need.quantity}} Price: {{need.price * need.quantity}}
          <div>
            <button type="button" (click)="removeNeedFromBasket(need)">x</button>
          </div>
        <!-- </a> -->
        <!-- <button type="button" class="delete" title="delete need" -->
          <!-- (click)="delete(need)">x</button> -->
      </li>
  </ul>
  <button mat-raised-button color="primary" (click)="checkout()">Checkout</button>
</body>
