<br>
<h2>Top Needs</h2>
<div class="needs-menu">
  <a *ngFor="let need of needs"
      routerLink="/detail/{{need.id}}">
      {{need.name}}
  </a>
</div>
<!-- put this button on every page. -->
<br>
<app-need-search></app-need-search>
<br><hr><br>
<h3>Support other organizations of similar causes!</h3>

<div class="banner">
  <div class="column">
    <img src="https://images.pexels.com/photos/6590920/pexels-photo-6590920.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Avatar" style="width:40%; height: 40%;">
    <br>
  </div>
  <div class="column">
    <img src="https://images.pexels.com/photos/6994806/pexels-photo-6994806.jpeg?auto=compress&cs=tinysrgb&w=1200" alt="Avatar" style="width:40%; height: 40%;">
    <br>
  </div>
</div>
<br>

