/* DashboardComponent's private CSS styles */
.banner{
  align-items: flex-start;
  align-content: flex-start;
  align-self: flex-start;
  display:flex;
}

.column{
  flex:1;
}
h2,h3, button {
    text-align: center;
  }
  
  .needs-menu {
    padding: 0;
    margin: auto;
    max-width: 1000px;
  
    /* flexbox */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
  }
  
  